body {
    background-color:  rgb(251, 252, 241) !important;
}

.home-card {
    background-color: rgb(251, 252, 241) !important;
}

.list-group-item {
    background-color: rgb(233, 230, 185) !important;

}

